doctype html
html(lang="en")
    include includes/header.pug
    body.bg-gray-50.min-h-screen.flex.flex-col
        include includes/navbar.pug
        
        main.flex-grow
            .container.mx-auto.px-4.py-8
                if pagesdebug
                    pre.bg-dark-800.text-gray-200.p-4.rounded-lg.overflow-x-auto.text-sm.mb-8.font-mono= pagesdebug

                if pages
                    .max-w-4xl.mx-auto.mb-8
                        if pages.query
                            .text-center.mb-8
                                h1.text-3xl.font-bold.text-dark-800.mb-2= `Search: ${pages.query}`
                                p.text-lg.text-dark-600= `Found ${pages.results} results`
                        
                        .flex.justify-center.gap-4.mb-8
                            if pages.current != 0
                                a.btn-primary.flex.items-center(href=`/search?q=${pages.query}&p=${pages.previous}`)
                                    i.fas.fa-chevron-left.mr-2
                                    span Previous
                            if pages.available >= pages.next
                                a.btn-primary.flex.items-center(href=`/search?q=${pages.query}&p=${pages.next}`)
                                    span Next
                                    i.fas.fa-chevron-right.ml-2

                if results
                    .max-w-4xl.mx-auto.space-y-6
                        each item in results
                            .card.transition-all.duration-300(class="hover:shadow-lg")
                                .p-6
                                    h2.text-xl.font-semibold.text-dark-900.mb-2.break-words= item.name
                                    h3.text-sm.font-medium.text-dark-500.mb-4
                                        span.font-mono Infohash: 
                                        span.select-all= item.infohash
                                    
                                    - var filestring = typeof item.files === 'string' ? item.files : '';
                                    - var formatstring = filestring.split(',').join('\n');
                                    - if (formatstring.length > 100) { formatstring = formatstring.substring(0, 100) + '...' };
                                    if formatstring
                                        .bg-gray-50.rounded-lg.p-4.mb-4.overflow-hidden.text-sm.text-dark-700.font-mono
                                            pre.whitespace-pre-wrap.break-words= formatstring
                                    
                                    .flex.flex-wrap.justify-between.items-center.gap-4.mt-4
                                        a.btn-primary.flex.items-center(href=`/infohash?q=${item.infohash}`)
                                            i.fas.fa-info-circle.mr-2
                                            span Details
                                        a.btn-secondary.flex.items-center(href=item.magnet + trackers)
                                            i.fas.fa-magnet.mr-2
                                            span Magnet URI

                if pages
                    .flex.justify-center.gap-4.mt-8
                        if pages.current != 0
                            a.btn-primary.flex.items-center(href=`/search?q=${pages.query}&p=${pages.previous}`)
                                i.fas.fa-chevron-left.mr-2
                                span Previous
                        if pages.available >= pages.next
                            a.btn-primary.flex.items-center(href=`/search?q=${pages.query}&p=${pages.next}`)
                                span Next
                                i.fas.fa-chevron-right.ml-2

                if timer
                    .text-center.mt-8
                        p.text-sm.text-dark-500 Query time: #{timer} ms

        include includes/footer.pug
