html
    include includes/header.pug
    body
        include includes/navbar.pug
        .container.mt-4
            if pagesdebug
                pre=pagesdebug

            if pages
                .text-center.mb-4
                    if pages.query
                        h4 Query: #{pages.query}
                        p Results: #{pages.results}

                .pagination.mb-4
                    if pages.current != 0
                        li.page-item
                            a.page-link(href=`/search?q=${pages.query}&p=${pages.previous}`) Previous
                    if pages.available >= pages.next
                        li.page-item
                            a.page-link(href=`/search?q=${pages.query}&p=${pages.next}`) Next

            if results
                .list-group
                    each item in results
                        .list-group-item.border-0.mb-3
                            .d-flex.justify-content-between
                                h5.mb-1= item.name
                                h6.text-muted= 'Infohash: ' + item.infohash
                            - var filestring = typeof item.files === 'string' ? item.files : '';
                            - var formatstring = filestring.split(',').join('\n');
                            - if (formatstring.length > 100) { formatstring = formatstring.substring(0, 100) + '...' };
                            // p= formatstring || item.name
                            .d-flex.justify-content-between.mt-3
                                a.btn.btn-primary(href=`/infohash?q=${item.infohash}`) Details
                                a.btn.btn-info(href=item.magnet + trackers) Magnet URI

            if pages
                .pagination.mt-4
                    if pages.current != 0
                        li.page-item
                            a.page-link(href=`/search?q=${pages.query}&p=${pages.previous}`) Previous
                    if pages.available >= pages.next
                        li.page-item
                            a.page-link(href=`/search?q=${pages.query}&p=${pages.next}`) Next

            if timer
                .text-center.mb-4
                    p Query Time: #{timer} ms

            include includes/footer.pug
