html
    include includes/header.pug
    body
        include includes/navbar.pug
        .container
            each item in result
                .card
                    .card-header
                        h4= item.name
                    .card-body
                        p.card-text= 'Infohash: ' + item.infohash
                        p.card-text= 'Fetched At: ' + new Date(item.fetchedAt)
                        - var filestring = item.toObject().files;
                        - var formatstring = filestring.split(',').join('\n');
                        pre= formatstring || item.name
                        a.btn.btn-default.card-link(href=item.magnet + trackers) Magnet
            br
            a(href='/') Back

            br
            br
            include includes/footer.pug
